.users__container {
    margin-top: 7rem;
    width: 80%;
    height: 400px;
    color: white;
    margin-inline: auto;
}

.users__wrapper {
    display: grid;
    margin-top: 7rem;
    width: 80%;
    height: 400px;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}
.card.users__value {
    padding-top: 3.5rem;
    text-align: left;
    position: relative;
}
.card.users__value span {
    position: absolute;
    top: -1.5rem;
}
.searchbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    
}
.searchbar input {
    width: 100%;
    margin-inline: auto;
    border-radius: 20px;
    margin-right: 1rem;
}