.content{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8rem; 
    /* align-content: center; */
    /* align-items: center; */
    }
  
    .leftside{
      max-width: 600px;
      min-width: 250px;
    }
  
    .rightside{
      max-width: 500px;
      min-width: 250px;
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: black;
      border-radius: 20px;
      align-items: center;
      padding-left: 2rem;
    }
 

  
  .content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
  }
  
  .cn:hover{
    background-color: #fff;
  }
  
  .securely{
    color: #ffb116;
    font-size: 60px
  }
 

  /* MY BUTTON CODE */
  .btn {
    color: var(--color-gray-100);
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: var(--colour-primary);
    border-radius: 1.5rem;
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}
.btn.lg {
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}
.btn.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
}

.btn.sm:hover {
    background: var(--color-gray-100);
}
.with-line {
    border-bottom: 2px solid #ffb116;
    border-bottom-style: groove;
  }
.text1 {
    margin-bottom: 10px;
}
.text2 {
    margin-top: 10px;
}

/* +++++++++++++++NEW FORM++++++++++++++++ */

.newform {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

a, a:visited {
  color: #fff;
}

.newform label {
  min-width: 160px; 
  
}

.newform input{
  width: 60%;
  padding: 4px;
  margin-bottom: 10px;
  margin-right: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.regform {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}

.btnn{
  width: 100px;
  height: 40px;
  background: #ffb116;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
  text-align: center;
  
}
.btnn:hover{
  background: #fff;
  color: #775614;
}
.btnn a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.link{
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
  }

.link a{
    text-decoration: none;
    color: #ffb116;
  }

/* +++++++++++++INSTRUCTIONS+++++++++++++++++++ */

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}