.content{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8rem; 
    /* align-content: center; */
    /* align-items: center; */
    }
  
    .leftside{
      max-width: 600px;
      min-width: 250px;
    }
  


  

  
  .content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
  }
  
  .cn:hover{
    background-color: #fff;
  }
  
  .content span{
    color: #ffb116;
    font-size: 65px
  }
  
  .form{
    /* width: 250px; */
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
   
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ffb116;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
  }
  
  .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ffb116;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: Arial;
  }
  
  .form input:focus{
    outline: none;
  }
  
  ::placeholder{
    color: #fff;
    font-family: Arial;
  }
  
  .btnn{
    width: 240px;
    height: 40px;
    background: #ffb116;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    text-align: center;
  }
  .btnn:hover{
    background: #fff;
    color: #ffb116;
  }
  .btnn a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;

  }
  .form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
  }
  .form .link a{
    text-decoration: none;
    color: #ffb116;
  }

  /* MY BUTTON CODE */
  .btn {
    color: var(--color-gray-100);
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: var(--colour-primary);
    border-radius: 1.5rem;
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}
.btn.lg {
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}
.btn.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
}

.btn.sm:hover {
    background: var(--color-gray-100);
}
.with-line {
    border-bottom: 2px solid #ffb116;
    border-bottom-style: groove;
  }
.text1 {
    margin-bottom: 10px;
}
.text2 {
    margin-top: 10px;
}