.middledash {
    color: blue;
    width: auto;
    
    margin-top: 5rem;
    height: 100%;
    background-color: white;
    
    margin-inline: auto;
    align-items: center;
    align-content: center;
}

.welcome {
    margin-bottom: 2rem;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    display: flex;
    flex-direction: row;
    justify-content: space-between;
>>>>>>> a0b2d47474a3d350bdfadb940ce6ca1b3cdc063b
=======
    display: flex;
    flex-direction: row;
    justify-content: space-between;
>>>>>>> a0b2d47474a3d350bdfadb940ce6ca1b3cdc063b
}

.welcome h2 {
    color: black;
}

.info {
    display: flex;
    flex-direction: row;
}

.card.dash__value {
    
    padding-top: 3.5rem;
    text-align: left;
    
}

.dash__wrapper {
    display: grid;
    margin: 0 1rem 0 1rem;
    
}

.dash__right {
    margin: 0 1rem 0 1rem;
}

.vendors_dash_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
}

.dash_value {
    background: var(--color-gray-500);
    border: 1px solid transparent;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 15%;
    transition: var(--transition);
}

.dash_value:hover {
    background: var(--color-secondary);
    border-color: var(--color-gray-400);
    cursor: default;
    /* so when we hover, it doesn't look like we are about to select an item */
}

.wholedash {
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
=======
>>>>>>> a0b2d47474a3d350bdfadb940ce6ca1b3cdc063b
}
.balance {
    height: 70px;
    
}

/* +++++++++++++++++++++++++++++++++++++++++++BUTTON TO SIGN OUT+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.btn-danger {
    background: hsl(200, 100%, 50%, 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
  }
  
  .btn-danger:hover,
  .btn-danger:focus-visible {
    background: hsl(200, 100%, 50%, 0.2);
  }
  

.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
  }
  
  .btn-danger:hover,
  .btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
  }
<<<<<<< HEAD
  
>>>>>>> a0b2d47474a3d350bdfadb940ce6ca1b3cdc063b
=======
  
>>>>>>> a0b2d47474a3d350bdfadb940ce6ca1b3cdc063b
