.main__header {
    width: 100vw;
    height: 100vh;
    display: grid;
    /* This is what centers the text */
    place-items: center;
    margin-top: 3rem;
}

.main__header-container {
    height: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 6rem;
}

.main__header-left {
    margin-top: -3rem;   
}
.main__header-left h4 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
    
}
.main__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;  
}   

.main__header-image {
    max-width: 1024px;
    clip-path: circle(70%);  
}

.main__header-right {
    display: grid;
    place-items: center;
    position: relative;
    /* so that any element with position absolute is going to be contained in the right header */
}

/* ===================OFFERS======================= */

.offers {
    
    margin-top: 4rem;
}
.offers__wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.4rem 2.4rem;
}

.offers__offer  {
    background: linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../../images/water-net.jpg);
    background-size: cover;
    border: 2px solid var(--color-gray-300)
}

.offers__offer a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offers__offer:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}

/* ===================FOOTER======================= */

footer {
    background: black;
    margin-top: 7rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);
}
.footer__container {
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
    gap: 6rem;
}
.footer__container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* allows positioning of different items within class to adjust to fit the page style  */
    gap: 0.7rem;
}
.foot__container article p {
    margin-top: 0.5rem;
}
.foot__container article h4 {
    margin-bottom: 0.6rem;
    font-size: 1rem;
}
.footer__socials {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.footer__socials a {
    /* this is the container of the icons */
    background: var(--color-gray-100);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    /* transition: var(--transition); */
}
.footer__socials a svg {
    /* these are the icons */
    color: var(--color-gray-600);
}
.footer__socials a:hover {
    background: var(--color-secondary);
    border-color: var(--color-gray-100);
}
.footer__copyright {
    color: var(--color-gray-100);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-primary-variant);
    margin-top: 5rem;
}