.about{
    padding: 5rem 3rem 3rem 3rem;
    background: #f8f8f8;
    margin-top: 2rem;
    margin-bottom: -7rem;
}
.row{
    display:flex;
    justify-content: space-around;
}

.row .column{
    width: 40%;
}

.column .tabs{
    display: flex;
}

.single-tab{
    background: white;
    margin-right: 10px;
    cursor: pointer
}

.single-tab h2{
    display:block;
    padding:10px 16px;
    border-radius: 4px;
    color: #1e388a;
    font-size: 14px;
    font-weight: 600;
}

.about-image{
    position: relative;
    background-image: url("../../images/About.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 100%;
}

.context{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display:none
}

.active-context{
    display:block;
}

.active-tab h2{
    color:white
}

.active-tab{
    background: #1e388a;
    position: relative;
}

.active-tab::before{
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #1e388a transparent transparent transparent;
}

.context h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: black
}

.context p{
    padding-bottom: 1rem;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    text-align: justify;
}

.context h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: black;
}

.team-column h3{
    margin-bottom:10px;
    font-weight: 2000;
}

.team-column span{
    font-weight: bolder;
    color: #1e388a;
    font-size: larger;
}

.team-column p{
    margin-top: 10px;
    color: gray;
}

.team-column img{
    background-position: center center;
    height: 295px;
    width: 50%;
}

@media screen  and (max-width:768px){
    .about{
        padding: 2rem 1rem 3rem 1rem;
    }
    .row{
        display:flex;
        flex-direction: column;
    }
    .about-image{
        height: 500px;
    }
    .row .column{
        width: 100%
    }
    .tabs{
        padding-top:3rem;
    }
    .skill-row{
        grid-template-columns: 1fr;
    }
}