@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin:0;
    padding:0;
    font-family: "Poppins";
}

*{
    box-sizing: border-box;
}

.contactusform{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    max-width: 600px;
    max-height: 700px;
    padding: 25px 40px;
    margin-top: 6rem;
}

.contactusform h1{
    color: black;
}


.contactusform input, textarea{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    font-family: "Poppins";
    background-color: #f3f3f3;
    border: #ddd;
}

.contactusform span{
    color: #1e388a
}

.contactusform button{
    height: 30px;
    width: 80px;
    align-items: center;
    border: none;
    background-color: #1e388a;
    color:#fff;
    cursor: pointer
}